<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.x.1testapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="TestAPP.Android" android:theme="@style/MainTheme" android:icon="@mipmap/Test">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDAj6p2rZXeY5DB_YCH9120lSOz5eGtzy8" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.BROADCAST_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name=" android.permission.READ_PHONE_STATE" />
	<queries>
		<intent>
			<action android:name="android.media.action.VIDEO_CAPTURE" />
		</intent>
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE" />
		</intent>
	</queries>
</manifest>